<!--<input type="text" [formControl]="filterValue" name="filterValue">-->
<input type="text" [(ngModel)]="filter">
<button (click)="filterTable()">Filter</button>
<table *ngIf="tableData?.length">
  <thead>
    <tr>
      <th *ngFor="let prop of tableData[0] | keyvalue">
        {{ prop.key }}
        <button (click)="sortTable(true, prop.key)">ascend</button>
        <button (click)="sortTable(false, prop.key)">descend</button>
      </th>
    </tr>
  </thead>

  <tbody>
   <tr *ngFor="let item of tableData">
     <td *ngFor="let prop of item | keyvalue">{{ prop.value }}</td>
   </tr>
  </tbody>
</table>
